@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Ok it is pretty clear how it actually works... this one atleast.</p>
<p>@ViewBag.Message1 </p>
<p>@ViewBag.Message2 </p>
<p>@ViewBag.Message3 </p>
